@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
}

@layer base {
    html {
        font-family: Arial, system-ui, serif;
    }
}

.isVisibleInRead {
    position: relative;
}

.isVisibleInRead::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    height: 100%;
    width: 0;

    border-left: 7px solid theme('colors.red');
    border-right: 10px solid white;
}
